@import '../../_utils/extends.scss';
@import '../../_utils/variables.scss';

.cfp-products {
  margin-bottom: 80px;

  &__select {
    width: 175px;
  }

  &__title {
    @extend %form-title
  }

  &__container {
    min-height: 85px;
    max-height: 85px;

    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  &__name {
    margin: 0;
    width: 50%;
  }

  &__price {
    margin: 0;
    width: 20%;
  }

  &__input:focus {
    @extend %form-input-focus
  }

  &__add-button {
    align-self: center;
  }
}
