@import '../../_utils/variables.scss';
@import '../../_utils/extends.scss';

.admin-panel {
  @extend %flex;
  height: $page-title-height;
  background-color: $main-color-2;
  border-bottom: 5px solid #000;

  &__body {
    height: 80vh;
    @extend %flex;
  }

  &__image {
    width: 20%;
    height: 30%;
  }

  &__menu-item {
    font-size: 20px;
    font-family: $title-bold-medium;
  }
}
