@import '../../_utils//variables.scss';
@import '../../_utils//extends.scss';


.disabled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $main-color;
  opacity: 0.5;
  z-index: 2;
}


.cfp {
  display: flex;
  position: relative;

  &__top-menu {
    min-width: 215px;
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 50px 0 15px 30px;
    gap: 30px;
  }

  &__select {
    width: 100%;
  }

  &__filters {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__Applybuttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__wrapper {
    margin-bottom: 50px;
    // display: flex;
    // flex-wrap: wrap;
    // display: inline-block;
    width: 85%;
  }

  &-card-container {
    padding: 0 40px;
    margin: 0 auto;
    @extend %flex;
    flex-wrap: wrap;

    &--not-found {
      height: 100%;
    }

    &--user {
      padding-top: 30px;
    }
  }

  &-features__container {
    margin-top: -5px;
    padding: 10px;
    background-color: $main-color-2;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    // transform: translateY(-50px);
    transition: max-height 0.3s ease-out;

    &--open {
      max-height: 1000px;
      transition: max-height 0.3s ease-in;
    }
  }

  &-features__wrapper {
    padding: 5px;
  }

  &-features__wrapper--cfp {
    display: flex;
  }

  &-features__checkBox {
    margin-right: 10px;
    font-size: 25px;
  }

  &-features__legend {
    font-family: $title-light;
    font-size: 18px;
    text-align: center;
  }

  &-features__name {
    // width: 80%;
    // display: inline-block;
    font-family: $title-light;
  }

  legend {
    // width: 80%;
    padding: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 4px;
  }

  .cfp-card__list {
    max-width: 1040px;
    margin-bottom: 20px;
    width: max-content;
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;

    // @media (min-width: 300px) {
    //   & {
    //     justify-content: center;
    //     align-items: center;
    //   }
    // }
  }

  .cfp-card {
    @extend %flex;
    margin: 20px 7px 0;
    flex-basis: 20%;
    height: 350px;
    min-width: 245px;
    max-width: 280px;
    flex-direction: column;

    overflow: hidden;
    position: relative;
    padding: 20px 20px 30px;
    font-family: $title-bold;
    background-color: $main-color-2;
    border-radius: 50px;
    border: 1px solid #d2d3d4;

    &--admin {
      & * {
        box-sizing: border-box;
        transition: all 0.45s ease;
      }
      
      &::before,
      &::after {
        @extend %flex;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        bottom: 160px;
        left: 0;
        right: 0;
        content: '';
        transition: all 0.3s ease;
        z-index: 1;
        opacity: 0;
        transform: scaleY(2);
      }
      
      &:hover::before,
      &:hover::after {
        transform: scale(1);
        opacity: 1;
      }
    }

    &--deactivated {
      opacity: 0.5;
    }

    &__logo-container {
      @extend %flex;
      margin-bottom: 20px;
      width: 150px;
      height: 150px;
      border-radius: 10px;

      // .cpf-card__logo:hover {
      //   // transform: scale(1.05);
      // }
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
  
    &__name {
      min-height: 40px;
      @extend %flex;
      margin-bottom: 20px;
      width: 80%;
      font-size: 14px;
      padding: 5px 10px;
      color: $main-color-2;
      background-color: $main-color;
      border-radius: 25px;
      position: relative;
    }

    &__slogan {
      margin-bottom: 20px;
    }

    &__productName {
      margin-bottom: 20px;
    }

    &__open {
      margin-bottom: 10px;
    }

    &__close {
      margin-bottom: 10px;
    }

    &__location-img {
      width: 60px;
      height: 60px;
    }

    &__edit {
      position: absolute;
      z-index: 2;
      top: 10px;
      right: 30px;
      width: 30px;
      height: 30px;
    }

    &__delete {
      position: absolute;
      top: 100px;
      left: calc(50% - 20px);
      width: 40px;
      border: none;
      cursor: pointer;
      appearance: none;
      background-color: inherit;
    }

    &__delete-img {
      position: absolute;
      z-index: 2;
      top: calc(50% - 15px);
      bottom: 5px;
      left: calc(50% - 15px);
      width: 40px;
      cursor: pointer;
    }

    &__favorite {
      align-self: flex-end;
      max-width: 28px;
      max-height: 26px;
    }

    &__fav-photo {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      
      &:hover {
      animation: pulsate 1.2s ease-in-out 0s infinite;

      @keyframes pulsate {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
      }

      &.clicked {
        transform: scale(1.05);
        filter: saturate(200%);
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__buttons-pagination {
    max-width: 10em;
    min-width: 8em;
    opacity: 1;
  }


  .pagination {
    &__image {
      width: 50px;
      height: 50px;
    }
  }
}
