@import '../../_utils//variables.scss';
@import '../../_utils//extends.scss';

.cfp {
  display: flex;

  &__top-menu {
    min-width: 200px;
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 30px;
  }

  &__select {
    width: 100%;
  }

  &__filters {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__Applybuttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__wrapper {
    margin-bottom: 50px;
    display: inline-block;
    width: 85%;
  }

  &-card-container {
    margin: 0 auto;
    @extend %flex;
    flex-wrap: wrap;

    &--not-found {
      height: 100%;
    }
  }

  .cfp-card__list {
    margin-bottom: 20px;
    width: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 700px) {
      & {
        justify-content: flex-start;
      }
    }
  }

  .cfp-card {
    @extend %flex;
    margin: 5px;
    flex-basis: 20%;
    min-width: 250px;
    max-width: 300px;
    flex-grow: 1;
    flex-direction: column;

    overflow: hidden;
    position: relative;
    padding: 20px 20px 30px;
    font-family: $title-bold;
    background-color: $main-color-2;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 50px;
    border: 1px solid #d2d3d4;

    // & * {
    //   box-sizing: border-box;
    //   transition: all 0.45s ease;
    // }
    
    // &::before,
    // &::after {
    //   @extend %flex;
    //   background-color: rgba(0, 0, 0, 0.6);
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   content: '';
    //   // content: url(../../../../public/edit.png);
    //   // content:"<a href='mailto:info@site.com'>info@site.com</a>";
    //   transition: all 0.3s ease;
    //   z-index: 1;
    //   opacity: 0;
    //   transform: scaleY(2);
    // }
    
    // &:hover::before,
    // &:hover::after {
    //   transform: scale(1);
    //   opacity: 1;
    // }

    &__logo-container {
      @extend %flex;
      margin-bottom: 20px;
      width: 150px;
      height: 150px;
      border-radius: 10px;
    }

    &__logo {
      max-height: 100%;
      max-width: 100%;
    }
  
    &__name {
      min-height: 40px;
      @extend %flex;
      margin-bottom: 20px;
      width: 80%;
      font-size: 14px;
      padding: 5px 10px;
      color: $main-color-2;
      background-color: $main-color;
      border-radius: 25px;
    }

    &__slogan {
      margin-bottom: 20px;
    }

    &__productName {
      margin-bottom: 20px;
    }

    &__open {
      margin-bottom: 10px;
    }

    &__close {
      margin-bottom: 10px;
    }

    &__location-img {
      width: 60px;
      height: 60px;
    }

    &__edit {
      position: absolute;
      z-index: 2;
      top: calc(50% - 15px);
      left: calc(50% - 15px);
      width: 30px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__buttons-pagination {
    min-width: 10em;
    opacity: 1;
  }

  .pagination {
    &__image {
      width: 50px;
      height: 50px;
    }
  }
}
