@import '../../_utils/extends.scss';
@import '../../_utils/variables.scss';

.filters {
  @extend %flex;
  flex-direction: column;
  gap: 20px;
  font-family: $title-heavy;
  color: $main-color;

  // &__create-button {
  //   margin-bottom: 10px;
  // }

  &__add-container {
    display: flex;
    gap: 10px;
  }

  &__create-button {
    background-color: $main-color;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 30px;
  }

  &__item {
    @extend %flex;

    width: 250px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 25px;
    word-wrap: break-word;
  }

  &__active-item {
    background-color: $main-color-2;
  }

  &__inactive-item {
    color: grey;
    background-color: $main-color;
  }

  &__toggle {
    @extend %flex;

    max-width: 100%;
    max-height: 100%;

    border: none;
    background-color: $main-color-2;
    cursor: pointer;

    &--black {
      background-color: $main-color;
    }
  }

  &__img {
    min-width: 30px;
    min-height: 30px;
  }
}