@import '../../_utils/extends.scss';
@import '../../_utils/variables.scss';

.menus-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 260px;
  margin-bottom: 50px;

  &__select {
    margin: 0;
    padding: 5px 15px;
    font-family: $title-light;
    font-size: 16px;
    color: rgb(54, 54, 54);
    height: 40px;
    border-color: #dbdbdb
  }
}

.filters {
  @extend %flex;
  flex-direction: column;
  gap: 20px;
  font-family: $title-heavy;
  color: $main-color;

  &__add-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 300px;
  }

  &__add-container {
    width: 300px;
    display: flex;
    gap: 10px;
  }

  &__add-button {
    // margin-left: 10px;
    // background-color: red;
    align-self: center;
  }

  &__create-button {
    background-color: $main-color;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $title-light;

    width: 250px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    word-wrap: break-word;
  }

  &__item-text {
    max-width: 80%;
  }

  &__active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__active-item {
    background-color: $main-color-2;
  }

  &__active-list {
    margin-bottom: 50px;
  }

  &__inactive-item {
    color: grey;
    background-color: $main-color;
  }

  &__switch-container {
    width: 34px;
  }

  &__toggle {
    min-width: 34px;
    @extend %flex;

    max-width: 100%;
    max-height: 100%;

    border: none;
    background-color: $main-color-2;
    cursor: pointer;

    &--black {
      width: 29px;
      background-color: $main-color;
    }
  }

  &__img {
    width: 100%;
    object-position: cover;
  }

  &__categoryName {
    font-family: $title-light;
    margin-bottom: 10px;
    font-size: 30px;
    color: grey;
  }

  &__input {
    padding: 5px 15px;
    font-family: $title-light;
    font-size: 16px;
    color: #363636;
    height: 40px;
    border-color: #dbdbdb
  }
}