@import '../_utils/extends.scss';
@import '../_utils/variables.scss';

html {
  height: 100%;
}

.hidden {
  pointer-events: none;
}

body {
  overflow: auto;
  height: 100%;
}

.hidden-scroll {
  overflow: hidden;
}

#root {
  min-height: 100vh;
  background-color: $bg-style;
}

.not-found {
  @extend %flex;
  flex-direction: column;
  gap: 50px;

  &__photo {
    width: 150px;
  }

  &__text {
    font-family: $title-light;
    font-size: 50px;
  }

  &--page {
    height: 85vh;
  }
}
