@import '../_utils/extends.scss';
@import '../_utils/variables.scss';

.hidden {
  overflow: hidden;
  pointer-events: none;
}

#root {
  min-height: 100vh;
  // background-color: $bg-style;
}

body {
  background-color: $bg-style;
}

.not-found {
  height: 100%;
  @extend %flex;
  flex-direction: column;
  gap: 50px;

  &__photo {
    width: 150px;
  }

  &__text {
    font-family: $title-light;
    font-size: 50px;
  }

  &--page {
    height: 100vh;
  }

  &--filters {
    font-size: 25px;
  }

  &__cfp {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

// .loader {
//   margin-bottom: 10px;
// }
