@import '../_utils/extends.scss';

button.is-black {
  transition: background-color 0.3s ease-in-out;
  background-color: none;

  &:hover {
    background-color: #555;
  }
}

 button.is-black.hoveredButton:hover {
  background-color: #555;
}

a.hoveredButton {
  transition: background-color 0.3s ease-in-out;
}

a.hoveredButton:hover {
  background-color: #008080;
}
