@import '../_utils/fonts.scss';

.header {
  display: flex;
  justify-content: flex-end;

  height: 50px;
  // width: $header-width;
  color: $main-color-2;
  background-color: $main-color;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: (($header-width / 2) + $logo-half-width);
  }

  .navBar {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &__navLink {
      padding: 5px;
    }

    &__link {
      height: 100%;
      width: 30px;
    }
  }
}
