@import '../_utils/fonts.scss';

.header {
  display: flex;
  justify-content: flex-end;

  min-height: 50px;
  height: 8vh;
  color: $main-color-2;
  background-color: $main-color;

  // &--user {
  //   margin-bottom: 40px;
  // }

  &--CFP {
    margin: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: (($header-width / 2) + $logo-half-width);
  }

  .navBar {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &__navLink {
      padding: 5px;
    }

    &__link {
      height: 100%;
      width: 30px;

      &:hover {
        animation: shake 0.2s linear;
      }

      @keyframes shake {
        0% {
          transform: translateX(0);
        }
        25% {
          transform: translateX(-3px) rotate(-3deg);
        }
        50% {
          transform: translateX(0) rotate(0deg);
        }
        75% {
          transform: translateX(3px) rotate(3deg);
        }
        100% {
          transform: translateX(0) rotate(0deg);
        }
      }
    }
  }
}
