@import '../_utils/extends.scss';

.login {
  height: 100vh;
  min-width: 500px;
  min-height: 700px;


  @extend %flex;

  &__container {
    box-sizing: border-box;
    // height: 390px;
    min-width: 530px;
    background-color: rgba(0, 0, 0, 0.862);
    border-radius: 50px;
  }

  &__credentials {
    box-sizing: border-box;
    // width: 100%;
    // height: 100%;
    padding: 40px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: $title-bold;
    color: $main-color-2;
    font-size: 27px;
    text-align: center;
    line-height: 40px;
  }

  &__input {
    height: 45px;
    padding: 7px 20px;

    font-family: $title-light;
    font-size: 20px;
  }

  &__login-container {
    margin-bottom: 30px;
  }

  &__login-button {
    margin: 0 10px;
    // width: 150px;
    height: 50px;
    font-family: $title-bold;
    font-size: 18px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
}
