.logo {
  display: block;
  padding: 10px;

  &__title {
    font-family: $title-light;
    font-style: normal;
    font-weight: 350;
    font-size: 30px;
    color: $main-color-2;
    position: relative;
    z-index: 1;

    &:hover + .logo__image {
      transform: rotate(0deg);
    }
  }

  &__image {
    position: relative;
    top: 2px;
    object-position: bottom;
    height: 18px;
    width: 18px;
    transform: rotate(21deg);
    object-position: center;
  }

  &__link {
    padding: 0 5px 5px 0;
  }
}
