@import '../_utils/variables.scss';

.search-container {
  width: 300px;
}

.search-input {
  padding: 5px 15px;
  // border-radius: 25px;
  background-image: url(../../styles/pictures/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 85%;
  font-family: $title-bold-medium;

  &--cfp {
    margin-left: 105px;
  }

  &--filters {
    // margin-left: 105px;
    // margin-bottom: 50px;
  }
}
