@import './_utils/fonts.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 65px;
  font-family: KyivTypeSans;
  font-weight: 350;
  font-size: 30px;
  color: #fff;
  background-color: $main-color;

  &__logo-container {
    display: flex;
  }

  &__title {
    padding-left: 3px;
    text-decoration: none;
    color: #fff;
  }
}
